.social{
    position: relative;
    margin-left:-350px;
    top: 25px;
    display: inline-block;
}
.social img{
    width: 17px;
    height: 14px;
}
.social ul li{
    list-style: none;
}


@media(max-width: 768px){
    .social{
        display: none;
    }
}