.title{
    color: #ffffff;
    font-family: Roboto;
    text-align: justify;
}
.main-call{
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.75px;
}
.main-title{
    text-align: justify;
    width: 449px;
    margin-left: 5px;
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -1.69px;
}
.main-description{
    text-align: justify;
    width: 408px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
@media(max-width: 768px){

    .title,
    .main-description,
    .main-title{
        text-align: center;
        position: relative;
    }
    .computer{
        display: none;
        }
}
@media(max-width: 550px){
    .main-call{
        font-size: 17px;
        letter-spacing: -0.20px;

    }
    .main-title{
        font-size: 30px;
        letter-spacing: -1px;
        line-height: 35px;
    }
}

@media(max-width: 425px){
    .main-description{
        width: 300px;
        margin-left: 17%;
    }
}
